:host {
  --color-primary: #E47E02;
  --color-grey-light: #f5f5f5;
}

.home-layout {
  display: grid;
  /* Colunas: 250px para sidebar, 1fr (o resto) para conteúdo */
  grid-template-columns: 250px 1fr; 
  /* Altura total - altura da navbar (72px) */
  height: calc(100vh - 72px); 
  
  position: relative;
  font-family: 'Inter', sans-serif;
}

.home-content {
  background-color: var(--color-grey-light);
  overflow-y: auto; /* Permite scroll na área de conteúdo */
  
  /* As páginas filhas (homepage, etc.) vão preencher este espaço */
  height: 100%; 
}